name: First CI/CD Pipeline

# 触发条件：推送到main或master分支时触发
on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:  # 允许手动触发

jobs:
  build-job:
    runs-on: ubuntu-latest  # 使用GitHub提供的Ubuntu虚拟机
    steps:
    - name: Run build script
      run: echo "Hello, ${{ github.actor }}!"

  test-job1:
    needs: build-job  # 依赖build-job，确保顺序执行
    runs-on: ubuntu-latest
    steps:
    - name: Run test script
      run: echo "This job tests something"

  test-job2:
    needs: build-job  # 同样依赖build-job，会和test-job1并行运行
    runs-on: ubuntu-latest
    steps:
    - name: Run longer test script
      run: |
        echo "This job tests something, but takes more time than test-job1."
        echo "After the echo commands complete, it runs the sleep command for 20 seconds"
        echo "which simulates a test that runs 20 seconds longer than test-job1"
        sleep 20

  deploy-prod:
    needs: [test-job1, test-job2]  # 只有当两个测试作业都成功后运行
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Deploy script
      run: echo "This job deploys something from the ${{ github.ref_name }} branch."
